body {
    background-color: rgb(128, 119, 105);
}
.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.each-div {
    width: 200px;
    background-color: burlywood;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px red;
}
.user-img {
    width: 180px;
    margin: 10px 0;
}
.id-text {
    margin-left: 170px;
    color: rgb(46, 45, 45);
}
.text-style {
    color:  rgb(46, 45, 45);
    margin-top: 15px;

}
.each-div:hover  {
    background-color: rgb(150, 144, 144);
    box-shadow: 1px 1px 30px black;
}

.each-div:hover .text-style {
    color: #fff;
}